<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="ClamAV Validator Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
